@model MusicGenMVC.Models.SongDetail
@{
    var img = Url.Action("Proxy", "Media", new { url = Model.CoverUrl });
}
<div class="row">
    <div class="col-3">
        <img src="@img" class="img-fluid rounded" />
    </div>
    <div class="col">
        <h5>@Model.Title</h5>
        <div class="text-muted">@Model.Artist • @Model.Album • @Model.Genre • ❤️ @Model.Likes</div>
        <p class="mt-2">@Model.ReviewText</p>
        <audio controls src="@Model.AudioUrl" class="w-100"></audio>
        <ul class="mt-2">
            @foreach (var line in Model.Lyrics)
            {
                <li><span class="text-muted">[@line.Time s]</span> @line.Text</li>
            }
        </ul>
    </div>
</div>
